{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аттестация систем защиты информации в Республике Беларусь | Ittas.by</title>
    <meta name="description"  content="Услуги аттестованной испытательной лаборатории в области аттестации информационных систем" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
     <div class="content-wrapper">
        <div class="caption attestation">
            <h1>Аттестация систем защиты информации</h1>
        </div>
        <div class="row group group-lab textdecor">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <p>ООО «ИТТАС» осуществляет работы по аттестации систем защиты информации (далее - СЗИ)
                    информационных систем в соответствии со специальным разрешением (лицензией) Оперативно-аналитического
                    центра при Президенте Республики Беларусь № 01019/312 от 29 апреля 2015г.</p>
                <p>Аттестация, как комплекс организационно-технических мероприятий, в результате которых подтверждается
                    соответствие системы защиты информации требованиям нормативных правовых актов в области защиты
                    информации, в том числе технических нормативных правовых актов, и оформляется аттестатом соответствия.</p>
                <p>Необходимость проведения мероприятий по аттестации, как оценки соответствия СЗИ информационных
                    систем требованиям нормативных правовых актов Республики Беларусь в области защиты информации, в
                    том числе технических нормативных правовых актов, определена:</p>
                <ul>
                    <li>Законом Республики Беларусь от 10 ноября 2008 года «Об информации, информатизации и защите
                        информации» в редакции Закона Республики Беларусь от 4 января 2014 года «О внесении изменений
                        и дополнений в Закон Республики Беларусь «Об информации, информатизации и защите информации»;</li>
                    <li>Положением о порядке технической защиты информации в информационных системах, предназначенных
                        для обработки информации, распространение и (или) предоставление которой ограничено, не
                        отнесенной к государственным секретам, утвержденным приказом Оперативно-аналитического центра
                        при Президенте Республики Беларусь от 30.08.2013  № 62 в редакции приказа ОАЦ от 16.01.2015 № 64;</li>
                    <li>Положением о порядке криптографической защиты информации в государственных информационных системах,
                        информационных системах, предназначенных для обработки информации, распространение и (или)
                        предоставление которой ограничено, не отнесенной к государственным секретам, и на критически
                        важных объектах информатизации, утвержденным приказом ОАЦ от 30.08.2013 № 62;</li>
                    <li>Положением о порядке аттестации систем защиты информации информационных систем, предназначенных
                        для обработки информации, распространение и (или) предоставление которой ограничено, не отнесенной
                        к государственным секретам, утвержденным приказом ОАЦ от 30.08.2013 № 62 в редакции приказа ОАЦ от 16.01.2015 №64;</li>
                    <li>Положением о технической и криптографической защите информации, утвержденным Указом Президента
                        Республики Беларусь  от 16.04.2013 № 196 «О некоторых мерах по совершенствованию защиты информации».</li>
                </ul>


                <h3>Состав работ по оценке системы защиты информации</h3>
                <p>Перечень работ по аттестации системы защиты информации определен Положением о порядке аттестации
                    систем защиты информации информационных систем, предназначенных для обработки информации,
                    распространение и (или) предоставление которой ограничено, не отнесенной к государственным секретам,
                    утвержденным приказом ОАЦ от 30.08.2013 № 62 в редакции приказа ОАЦ от 16.01.2015 №64
                    (Положение об аттестации) и включает в себя:</p>
                <ul>
                    <li>анализ исходных данных, перечень которых определен Приложением 2 к Положению об аттестации;</li>
                    <li>предварительное ознакомление с информационной системой и системой защиты информации;</li>
                    <li>разработку программы и методики аттестации;</li>
                    <li>проведение обследования информационной системы и системы защиты информации;</li>
                    <li>проверку правильности отнесения информационной системы к классу типовых информационных систем,
                        выбора и применения средств защиты информации;</li>
                    <li>анализ состава и структуры комплекса технических средств и программного обеспечения
                        информационной системы, информационных потоков, состава и структуры комплекса технических
                        средств и программного обеспечения системы защиты информации;</li>
                    <li>анализ разработанной документации и локальных нормативных правовых актов собственника
                        (владельца) информационной системы на предмет их соответствия требованиям законодательства об
                        информации, информатизации и защите информации, в том числе техническим нормативным правовым актам;</li>
                    <li>закрепление ответственности персонала за организацию и обеспечение выполнения требований по защите информации;</li>
                    <li>проведение испытаний системы защиты информации на предмет выполнения установленных требований
                        безопасности и корректности функционирования данной системы;</li>
                    <li>проверку отсутствия либо невозможности использования нарушителем свойств программного
                        обеспечения и (или) технических средств информационной системы (в том числе средств защиты
                        информации), которые могут быть случайно инициированы (активированы) или умышленно использованы
                        для нарушения информационной безопасности системы и сведения о которых подтверждены
                        производителями (разработчиками) этого программного обеспечения и технических средств;</li>
                    <li>оформление технического отчета и протокола испытаний;</li>
                    <li>оформление аттестата соответствия.</li>
                </ul>
                <p>ООО «ИТТАС» имеет опыт аттестации систем защиты информации информационных систем класса 4-фл, 4-юл,
                    4-дсп, 3-фл, 3-юл, 3-дсп (в соответствии с положениями документа СТБ 34.101.30-2017
                    «Информационные технологии. Методы и средства безопасности. Объекты информатизации. Классификация»).</p>
            </div>
        </div>
     </div>
    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
