{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аудит информационной безопасности | Ittas.by</title>
    <meta name="description"  content="Услуги по аудиту информационных систем на соответствие требованиям и стандартам с использованием сертифицированных стредств" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="caption audit">
        <h1>Аудит информационной безопасности</h1>
    </div>
    <div class="row group group-lab group2 textdecor">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <p>Аудит информационной безопасности предполагает оценку текущего состояния безопасности информации в компании, которая позволит определить уровень ее соответствия определенным критериям, и предоставить рекомендации по улучшению уровня безопасности в компании. Аудит ИБ позволяет получить наиболее полную и объективную оценку защищенности информационной системы (ИС), локализовать имеющиеся проблемы и разработать эффективную программу построения системы обеспечения ИБ организации.</p>
            <h3>Зачем проводить аудит информационной безопасности в компании?</h3>
            <p>Аудит информационной безопасности, выявляет пробелы в существующей защите. В каждой компании, которая имеет ИТ-инфраструктуру, существуют определенные риски, связанные с безопасностью информацией. Для оценки этих рисков и эффективности мер, принимаемых компанией по их контролю и снижению, применяется аудит информационной безопасности.</p>
            <p>Учитывая глобальную тенденцию роста числа кибер-атак, приводящих к значительным финансовым и материальным потерям, <strong>аудит информационной безопасности — необходимая процедура для компаний любого размера</strong>.</p>

            <h3>Что мы готовы предложить?</h3>
            <ul>
                <li>анализ информационной системы и информационных потоков (внутренних и внешних) в целях определения состава (количества) и мест размещения элементов информационной системы (аппаратных и программных) и т.д. <strong>(обследование информационной системы)</strong>;</li>
                <li>оценка соответствия требованиям законодательства Республики Беларусь в области информации, информатизации и защиты информации <strong>(контроль соблюдения требований НПА, политик и стандартов безопасности)</strong>;</li>
                <li>инструментальный анализ защищенности ИС, направленный на выявление и устранение уязвимостей в информационных системах (ресурсах) компании <strong>(оценка состояния защищённости)</strong>;</li>
                <li>комплексный аудит, включающий в себя все вышеперечисленные формы проведения обследования.</li>
            </ul>
            <br>

            <p>В рамках комплексного аудита или отдельным проектом может быть проведено <strong>тестирование на проникновение</strong>, позволяющее проверить способность информационной системы компании противостоять попыткам проникновения в сеть и неправомочного воздействия на информацию.</p>
            <p>В 2020 года нашей компанией разработано собственное средство контроля и анализа защищенности информационных систем. Данное средство успешно прошло все необходимые испытания и имеет сертификат соответствия.</p>
            <p>Наличие собственного сертифицированного средства контроля и анализа защищенности позволяет оказывать услуги по внешней и внутренней проверке отсутствия либо невозможности использования нарушителем свойств программных, программно-аппаратных и аппаратных средств, которые могут быть случайно инициированы (активированы) или умышленно использованы для нарушения информационной безопасности системы и сведения о которых подтверждены изготовителями (разработчиками) этих объектов информационной системы в соответствии с требованиями законодательства Республики Беларусь.</p>
            <p>Имеющийся программный комплекс позволяет получать объективную оценку состояния защищенности, как всей информационной инфраструктуры организации, так и отдельных подразделений, систем, ресурсов, узлов и приложений.</p>
            <p>Процесс оценки вашей информационной системы может быть проведен удаленно – для этого нашим специалистам потребуется удаленный доступ к вашей системе. Если же доступ к ресурсам ограничен – наши специалисты приедут на вашу территорию со своей техникой и проведут аудит на месте.</p>
            <p>Оценка результатов аудита для предоставления отчета заказчику может занимать от одной недели до одного месяца, подробности уточняйте при заключении договора.</p>

            <h3>Что получает Заказчик по результатам аудита?</h3>
            <p>По результатам аудита Заказчик получает подробный отчет о состоянии своей инфраструктуры (информационной системы и т.п.), содержащий:</p>
            <ul>
                <li>описание характеристик и активов корпоративной информационной системы, которые влияют на уровень защищённости;</li>
                <li>обнаруженные уязвимости, методы и инструменты их эксплуатации;</li>
                <li>выводы и конкретные рекомендации по устранению выявленных угроз и повышению уровня защищенности.</li>
            </ul>
            <p>Благодаря этой информации заказчик сможет доработать свою систему информационной безопасности и оценить эффективность принятых мер по защите информации.</p>
            <p>Тарифы на наши услуги появятся на сайте немного позднее, а пока, чтобы узнать подробности - просто <a href="/contacts" title="Контакты">свяжитесь</a> с нами.</p>
        </div>
    </div>

    {% include "footer.html" %}
</div>
<!-- Скрипты -->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
