   <div class="main-heading">
       <div class="overlay">
           <div class="container text-container">
               <div class="type-here">
                   <div class="main-heading-title"><span class="textHere">itVPN Бесплатно на 3 месяца</span></div>
                   <p class="main-heading-text">В связи с COVID-19, в т.ч. для организации удаленного доступа сотрудников,
                       <br>программное средство канального шифрования <b>itVPN - БЕСПЛАТНО</b>
                       <br>(для государственных организаций до 3-х месяцев)</p>

                   <button class="btn-company btn-company-yellow" onclick="location.href='/company/covid'" title="Получить itVPN бесплатно на 3 месяца" style="margin-left:0px;">ПОДРОБНЕЕ</button>

               </div>
           </div>
       </div>
   </div>